<div *ngIf="sharedData.type == 'details'" class="detail-container">
  <h2 class="play-dice">Play Dice Game</h2>
  <form #ngForm="ngForm">

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter number of players</mat-label>
      <input matInput [(ngModel)]="sharedData.players" name="players" type="number" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter Total Score</mat-label>
      <input matInput [(ngModel)]="sharedData.score" name="score" type="number" required>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" class="button-play" [disabled]="!ngForm.valid"
      (click)="startGame()">Play</button>
  </div>
</form>
</div>


<div class="center" *ngIf="sharedData.type =='game'">
  <div class="flex-container">

    <div class="side">


      <div *ngIf="sharedData.data && sharedData.data.length > 0">
        <h2>Player Scores</h2>
        <mat-divider></mat-divider>
        <div class="scores">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let player of sharedData.data">
              <span style="font-weight: bold;">{{player.name}}</span>
              <span style="margin-left: 20px;"></span> {{player.score}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>


      <div class="rank" *ngIf="sharedData.playersWon && sharedData.playersWon.length > 0">
        <h2>Player Rank</h2>
        <mat-divider></mat-divider>
        <div class="scores">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let player of sharedData.playersWon">
              <span style="font-weight: bold;">{{player.name}}</span>
              <span style="margin-left: 20px;"></span> {{player.rank}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>


    </div>

    <div class="main">
      <div *ngIf="sharedData.data && sharedData.data.length > 0">
        <h2>{{sharedData.data[sharedData.currentPlayer].name}} its your
          turn (press ‘r’ to roll the dice)</h2>
        <mat-divider></mat-divider>
        <div class="roll">
          <button mat-raised-button color="primary" class="button" [disabled]="sharedData.disableButton"
            (click)="start()">Roll</button>
        </div>
        <div *ngIf="roller$ | async as result" class="result">
          {{result}}
        </div>
      </div>
    </div>
  </div>
</div>